<div class="hidden">
  GENERAL PURPOSE DATA
</div>

<script type="text/javascript">

var canvas = document.getElementById('map');
var map = JSON.parse('<%= @map.tiles.to_json.html_safe %>');

Tapestry.sizeTo(window, canvas);
Cartographer.setMap(map);
Cartographer.draw(map, canvas);

var mc = new Hammer.Manager(canvas);

mc.add(new Hammer.Tap());
mc.on("tap", Cartographer.plotSurroundings(canvas, '<%= map_url(@map) %>'));

mc.add(new Hammer.Pan());
mc.on("pan", Cartographer.pan(canvas));

</script>
