<!DOCTYPE html>
<html>
  <head>
    <title>Cartographer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <canvas id="map"></canvas>

    <%= javascript_include_tag 'vendor', 'application' %>

    <%= yield %>
  </body>
</html>
